$brand-color: #525FFB;

.header{
    @include flexItemsCenter(row);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 {
    color: $brand-color;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

.header a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #525FFB;
    border: 1px solid #525FFB;
    border-radius: 15px;
    padding: 10px 14px;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 500;
}
