body, html {
  margin: 0;
  font-family: Poppins;
}

.bg {
  background: url("images/bg.png") no-repeat;
  background-size: cover;
  height: 3400px;
}

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h1 {
  color: #525FFB;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

.header a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #525FFB;
  border: 1px solid #525FFB;
  border-radius: 15px;
  padding: 10px 14px;
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 500;
}

img {
  object-fit: cover;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.branding__side {
  flex: 0.8;
}

.branding__side h2 {
  font-size: 40px;
  font-weight: 700;
}

.branding__side p {
  color: #B1AAAA;
  font-size: 14px;
  margin: 30px 0;
  line-height: 1.2;
}

.form {
  display: flex;
  align-items: center;
}

.form input {
  display: inline-block;
  flex: 0.5;
  border-radius: 15px;
  border: 1px solid #EBEBEB;
  padding: 13px;
  outline: none;
}

.form input::placeholder {
  color: #1E1C24;
  opacity: 0.36;
}

.link, .form a {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  background-color: #525FFB;
  border-radius: 15px;
  padding: 14px 22px;
  font-size: 14px;
  margin-left: 20px;
}

.branding img {
  display: block;
  max-width: 630px;
}

.section__title {
  text-align: center;
  text-transform: capitalize;
  color: #1E1C24;
  font-size: 30px;
}

.section__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  margin-top: 60px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.section__content img {
  display: block;
  max-width: 200px;
  border-radius: 5px;
}

.section__content--modifier {
  margin-top: 100px;
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: unset;
}

.component img {
  max-width: 570px;
  display: block;
}

.component__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  flex: 0.95;
}

.component__content h3 {
  color: #1E1C24;
  text-transform: capitalize;
  font-size: 40px;
}

.component__content p {
  color: #B1AAAA;
  line-height: 1.4;
}

.component__content a {
  text-transform: capitalize;
  margin-left: 0;
}

.reverse-component {
  flex-direction: row-reverse;
}

.icons svg:last-child {
  margin-left: 30px;
}

.subcomponent h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #1E1C24;
}

.subcomponent__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subcomponent__content h4 {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
  color: #525FFB;
}

.faces {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.faces--modifier {
  padding-left: 170px;
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.faces--modifier-2 {
  padding-left: 0;
  padding-right: 170px;
}

.footer {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact input {
  flex: 0.2;
}

/*# sourceMappingURL=style.css.map */
